# django
django
django-crispy-forms

# fastapi
fastapi
uvicorn[standard]     # ASGI server that runs FastAPI
python-multipart      # allows FastAPI to receive file uploads
# httpx
httpx

# for data processing
pandas
openpyxl        # Excel support for pandas
lxml            # XML parsing